*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}
body{
	margin-top: 15%;
	margin-bottom: 20%;
}
.cierre{
	clear: both;
}
.btn{
	border: none;
	color: #fafafa;
	background-color: #212121;
	padding: 2%;
	border-radius: 5px;
	text-decoration: none;
}
section{
	width: 96%;
	margin: auto;
}


/*CABECERA*/

header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #212121;
	color: #fafafa;
	padding-left: 3%;
}
header h1{
	display: inline-block;
	font-size: 2.4em;
}
#burger{
	width: 20%;
	float: right;
}


/*MENU ARRIBA*/

#menuArriba{
	display: none;
	position: fixed;
	top: 7.5%;
	left: 0;
	width: 100%;
	background-color: #212121;
	color: #fafafa;
}
#menuArriba ul{
	width: 100%;
}
#menuArriba ul li{
	border-top: 1px solid #eee;
	padding: 3% 0;
	padding-left: 10%;
}


/*MENU ABAJO*/

nav{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #212121;
	color: #fafafa;
	width: 100%;
}
nav ul{
	width: 100%;
}
nav ul li{
	display: inline-block;
	padding: 4% 3.3%;
}


/*CARRITO*/

#carrito{
	display: none;
	width: 100%;
	height: 86%;
	background-color: #212121;
	position: fixed;
	top: 7.5%;
	left: 0;
	z-index: 100;
	color: #fafafa;
	padding: 4%;
}
#carrito .btn{
	background-color: #fafafa;
	color: #212121;
}
#carrito .btn:nth-child(1), #carrito .btn:nth-child(2){
	width: 48%;
	margin: 0 .5%;
}
#carrito ul{
	margin: 5% 0;
	list-style-type: none;
	max-height: 60%;
	overflow-y: auto;
}
#carrito ul li{
	border-bottom: 1px solid #eee;
	padding: 3% 0;
}
#carrito ul li p{
	display: inline-block;
	margin-right: 3%;
}
#carrito #total{
	font-size: 1.3em;
	text-align: center;
}


/*CUERPO*/

/*INICIO*/

#comenzarPedido{
	display: block;
	width: 60%; 
	margin: auto;
	text-align: center;
	padding: 5% 0;
	margin-top: 90%;
}

/*PRODUCTOS*/

#productos article img{
	width: 100%;
	margin: 1.5% 0;
}
#productos article p{
	display: inline-block;
}
#productos article .btn{
	float: right;
	display: inline-block
}